// /* 表单 */
table {
  border-collapse: collapse;
}
.text-center {
  text-align: center;
}
i {
  cursor: pointer;
}
table {
  width: 100%;
  tbody > tr > td,
  thead > tr > td {
    padding: 6px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #333;
    .el-input {
      text-align: left;
    }
    .el-button {
      padding: 5px 10px;
      font-size: 12px;
    }
  }
}
.form table {
  width: 100%;
  tbody > tr {
    td {
      padding: 6px;
      border: 1px solid #ccc;
      background: #fafafa;
      color: #333;
      .el-input {
        max-width: 200px;
        text-align: left;
        .el-input__inner {
          height: 30px;
          line-height: 30px;
        }
      }
      .el-button {
        padding: 5px 10px;
        font-size: 12px;
      }
    }
    td:last-of-type {
      text-align: left;
    }
  }
}
