// /* 表单 */
table {
  border-collapse: collapse;
}
.text-center {
  text-align: center;
}
table {
  width: 100%;
  tbody > tr > td,
  thead > tr > td {
    padding: 6px;
    border: 1px solid #ccc;
    background: #fafafa;
    color: #333;
    .el-input {
      text-align: left;
    }
    .el-button {
      padding: 5px 10px;
      font-size: 12px;
    }
  }
}
// .c-yellow {
// 	color: #ffba00;
// 	font-size: 16px;
// }
// .c-red {
// 	color: #ff6b5c;
// 	font-size: 16px;
// }
// table .text-left {
// 	text-align: left!important;
// }
// .page .page.form {
//     min-width: 990px;
// }
// .form .container {
// 	width: 990px!important;
// 	margin: 0 auto;
// 	padding: 0;
// }
// .form table {
// 	width: 990px;
// 	max-width: 100%;
// 	margin: 2px 0 2px;
// }
// .form h3 {
// 	margin: 30px 0 10px 0;
// 	color: #01a0e9;
// }
// .form table {
// 	*border: 1px solid #999;
// }
// .form table > tbody > tr > td {
// 	padding: 2px;
// 	border: 1px solid #999;
// 	font-size: 13px;
// 	color: #333;
// 	line-height: 25px;
// 	word-break: break-all;
// }
// .form table > thead > tr > td {
// 	padding: 2px;
// 	border: 1px solid #01a0e9;
// 	font-size: 13px;
// 	color: #fff;
// 	line-height: 30px;
// 	background-color: #01a0e9;
// }
// .form.score-list {
// 	padding-top: 50px;
// }
// .form table.score-list > tbody > tr > td {
// 	padding: 8px;
// 	border: 1px solid #cfe8f3;
// 	font-size: 14px;
// }
// .form table.score-list td.blue {
// 	color: #4791dc;
// 	font-weight: 700;
// }
// .form.score-list table > tbody > tr > td {
// 	border: 1px solid #edeff5;
// 	padding: 5px;
// }
// .form.score-list table > tbody > tr > td.yue-title {
// 	color: #4791dc;
// 	font-weight: 700;
// }
// .form.score-list .demo span.green {
// 	color: #76d8a4;
// 	font-weight: 700;
// }
// .form.score-list .demo span.red {
// 	color: #ff3e3e;
// }
// .form.score-list table > tbody.demo1 > tr > td.td1 {
// 	border-left: 5px solid #7adfa9;
// }
// .form.score-list table > tbody.demo2 > tr > td.td1 {
// 	border-left: 5px solid #ffd141;
// }
// .form.score-list table > tbody.demo3 > tr > td.td1 {
// 	border-left: 5px solid #ffa551;
// }
// .form.score-list table > tbody.demo4 > tr > td.td1 {
// 	border-left: 5px solid #ff7e51;
// }
// .form.score-list table > tbody.demo5 > tr > td.td1 {
// 	border-left: 5px solid #5a6aff;
// }
// .form.score-list table > tbody.demo6 > tr > td.td1 {
// 	border-left: 5px solid #7800ff;
// }
// .form.score-list table > tbody.demo7 > tr > td.td1 {
// 	border-left: 5px solid #00a8ff;
// }
// .form.score-list table > tbody.demo8 > tr > td.td1 {
// 	border-left: 5px solid #51e8ff;
// }
// .form.score-list table > tbody.demo9 > tr > td.td1 {
// 	border-left: 5px solid #94edb5;
// }
// .form.score-list table > tbody.demo10 > tr > td.td1 {
// 	border-left: 5px solid #feef44;
// }
// .form.score-list table > tbody.demo11 > tr > td.td1 {
// 	border-left: 5px solid #fec744;
// }
// .form.score-list table > tbody.demo12 > tr > td.td1 {
// 	border-left: 5px solid #fead44;
// }
// .form.score-list .btn-green,
// .form.score-list .btn-yellow {
// 	margin-bottom: 15px;
// }
// .form.score-list .btn-red {
// 	margin: 0;
// }
// .form table .sign {
//     display:inline-block;
//     *display:inline;
//     *zoom:1;
//     width: 150px;
// }
// .head-info .pull-right span {
// 	display: inline-block;
// 	width: 210px;
// 	margin-right: 10px;
// }
// .form input[type=text],
// .form input[type=checkbox],
// .form textarea {
// 	width:96%;
//     height: 30px;
//     line-height: 30px;
// 	margin:0 1px;
// 	border:0;
// 	outline:none;
// 	font-size: 14px;
//     background-color: transparent;
// }
// .form table > .muti > tr > td {
// 	padding: 0;
// 	height: 40px;
// 	line-height: 40px;
// }
// .view_table .checkbox {
// 	height: 40px;
// 	line-height: 40px;
// }
// .form .red {
// 	font-weight: 700;
// }
// .form .add-box {
// 	position: relative;
// }
// .form .add-box .add {
// 	position: absolute;
//     left: 50%;
//     margin-left: -10px;
//     bottom: -10px;
//     background-image: url(../static/images/add.png);
//     display: none;
// }
// .form .add-box .add-muti {
// 	left: initial;
// 	right: 0;
//     top: 50%;
//     margin-top: -21px;
// }
// .form .add-box i.reduce {
//     position: absolute;
//     right: 0;
//     width: 20px;
//     height: 20px;
//     background-size: 20px 20px;
//     background-image: url(../static/images/reduce.png);
// 	display: none;
// }
// .form .add-box i.add {
// }
// .form .reduce-muti {
// 	left: initial;
// 	right: 0;
//     top: 50%;
//     margin-top: 1px;
// }
// .form .add-box:hover .add,
// .form .add-box:hover i.reduce {
// 	display: block;
// }
// .some-tip {
// 	padding: 15px 10px 0;
// 	margin-top: 20px;
// 	margin-bottom: 15px;
// 	background-color: #fff;
// 	border: 1px solid #d4d4d4;
// }
// .some-tip .pull-left {
// 	width: 8%;
// 	line-height: 72px;
// 	text-align: center;
// }
// .some-tip .pull-right {
// 	width: 90%;
// }
// .some-tip .pull-left {
// 	font-weight: 700;
// }
// .some-tip .pull-right span,
// .some-tip p {
// 	font-size: 16px;
// }
// .some-tip .pull-right > span {
// 	display: inline-block;
// 	margin-right: 5px;
// 	width: 24%;
// 	margin-bottom: 15px;
// 	letter-spacing: 1px;
// }
// .some-tip .pull-right > span > span {
// 	vertical-align: middle;
// 	display: inline-block;
// 	margin-right: 5px;
// 	width: 49px;
// 	height: 37px;
// 	border: 1px solid #999;
// 	background-color: #fff;
// }
// .checkbox {
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
//     margin-top: 0;
//     margin-bottom: 0;
// }
// .checkbox input[type=checkbox] {
// 	opacity: 0;
// 	height: 40px;
// 	line-height: 40px;
// }
// .checkbox span,
// span.pro0 {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	line-height: 40px;
// 	color: #000;
// 	font-size: 22px;
// }

// td.pro1,
// .some-tip .pull-right > span > span.pro1 {
// 	background-color: #008d2b;
// }
// td.pro2,
// .some-tip .pull-right > span > span.pro2 {
// 	background-color: #acacac;
// }
// td.pro3,
// .some-tip .pull-right > span > span.pro3 {
// 	background-color: #ffba00;
// }
// td.pro4,
// .some-tip .pull-right > span > span.pro4 {
// 	background-color: #ff0000;
// }
// td.pro1 span,
// td.pro2 span,
// td.pro3 span,
// td.pro4 span {
// 	color: #fff;
// 	font-size: 16px;
// 	text-align: center;
// }
// .form input[type=date] {
// 	width: 150px;
// }
// .form table textarea {
// 	padding: 5px 0;
// 	width: 98%;
// 	line-height: 18px;
// 	height: 82px;
// }
// .form.score table textarea {
// 	height: auto;
// }
// .form-3 .row {
// 	position: relative;
// }
// .form-3 .row .time input {
// 	outline: 0;
// 	border: 0;
// 	width: 100px;
// 	height: 23px;
// 	line-height: 23px;
// 	text-indent: 10px;
// 	font-size: 14px;
// }
// .form .head .title  {
//     margin: 15px 0 15px;
//     font-size: 24px;
//     color: #101010;
// }
// .form .com {
//     margin-top: 1px;
//     margin-bottom: 50px;
// }
// .form .com label {
//     display: inline-block;
//     width: 33%;
// }
// .form .com label input {
//     width: 220px;
// }
// .head-title h3 {
// 	text-align: center;
// 	font-size: 18px;
// }

// .item-box.form table > tbody > tr > td {
// 	padding: 5px 3px;
// 	border: 0;
// 	font-size: 13px;
// 	color: #000;
// }
// .item-box.form table > tbody > tr {
// 	border: 1px solid #cacbd0;
// 	border-bottom: 10px;
// }

// /* 删除节点数据 */
// .form table > tbody > tr.tr_change > td:last-of-type {
//     color: #ff0000;
// }
// .form table > tbody > tr.tr_change > td a {
//     color: #fff;
// }

// .form table.user-center > tbody > tr > td {
// 	border: 1px solid #cacbd0;
// }
// .form table.user-center > tbody > tr > th {
// 	background-color: #4791dc;
// 	color: #fff;
// 	height: 40px;
// 	line-height: 40px;
// 	font-size: 16px;
// 	border: 1px solid #4791dc;
// }
// table.user-center td span {
// 	display: inline-block;
// 	width: 40px;
// 	height: 30px;
// 	line-height: 30px;
// 	border-radius: 15px;
// 	background-color: #edeff5;
// }
// table.user-center td span.red {
// 	color: #ff3030;
// }
// .bootstrap-select-searchbox input[type=text] {
// 	border: 1px solid #ccc;
// 	line-height: 20px;
// }
// .form table label input[type=text] {
// 	height: 22px;
// 	line-height: 22px;
// }

// /* 项目进度列表 */
// .form.see-pro h2,
// .review h2,
// .score-list h2,
// .join-list h2 {
// 	display: inline-block;
// 	position: relative;
// 	font-size: 18px;
// 	font-weight: 500;
// 	margin-bottom: 50px;
// }
// // i.guide-icon3 {
// // 	position: absolute;
// // 	top: 12px;
// // 	left: -40px;
// // 	width: 34px;
// // 	height: 7px;
// // 	background-image: url(../images/guide-icon3.png);
// // }
// // i.guide-icon4 {
// // 	position: absolute;
// // 	top: 12px;
// // 	right: -40px;
// // 	width: 36px;
// // 	height: 7px;
// // 	background-image: url(../images/guide-icon4.png);
// // }
// .form.see-pro .pro-all {
// 	padding-bottom: 10px;
// 	border-bottom: 1px solid #d9dde7;
// 	margin-bottom: 15px;
// }
// .form.see-pro .pro-all span,
// .pro-all span {
// 	display: inline-block;
// 	padding: 10px 15px;
// 	background-color: #e3f1ff;
// 	margin-right: 10px;
// 	margin-bottom: 5px;
// }
// .form.see-pro table {
// 	width: 100%;
// 	margin-bottom: 10px;
// }
// .form.see-pro table > tbody > tr > td,
// .card-list table > tbody > tr > td {
// 	padding: 10px 8px;
// 	line-height: 25px;
// 	border-color: #d9dde7;
// 	color: #666;
// 	text-align: center;
// }
// .form.see-pro table > tbody > tr > th,
// .card-list table > tbody > tr > th {
// 	padding: 10px 8px;
// 	line-height: 25px;
// 	border: 1px solid #d9dde7;
// 	background-color: #edeff5;
// 	color: #666;
// }
// .word-wrap {
// 	word-break: break-all;
// }
// .form.see-pro .file table {
// 	margin-top: 0;
// 	margin-bottom: 20px;
// }
// .form.see-pro .file > span {
// 	display: inline-block;
// 	padding: 10px 20px;
// 	color: #333;
// 	background-color: #edeff5;
// 	border: 1px solid #d9dde7;
// 	border-bottom: none;

// }
// .form.see-pro li {
// 	padding: 0 10px;
// 	line-height: 25px;
// 	text-align: left;
// }
// .form.see-pro li a {
// 	color: #4791dc;
// }
// /* 发牌记录表 */
// .card-list {
// 	width: 950px;
// 	margin: 0 auto;
// }
// .card-list .top-title {
// 	height: 50px;
// 	line-height: 50px;
// 	text-align: center;
// 	background-color: #e0f0ff;
// 	font-size: 18px;
// 	color: #666;
// 	font-weight: 500;
// }
// .table-top {
// 	position: relative;
// 	height: 45px;
// 	padding: 10px 0;
// 	margin-top: 30px;
// 	border-radius: 5px 5px 0 0;
// 	background-color: #4791dc;
// 	color: #fff;
// 	font-size: 16px;
// 	text-align: center;
// }
// .table-top .icon-link {
// 	position: absolute;
// 	left: 30px;
// 	top: 28px;
// }
// .table-top .right.icon-link {
// 	left: initial;
// 	top: 28px;
// 	right: 28px;
// }
// .table-top span {
// 	display: inline-block;
// 	padding: 0 10px;
// }
// .table-top span:first-of-type {
// 	border-right: 1px solid #fff;
// }
// .card-list table {
// 	width: 950px;
// 	margin-top: 0;
// }
// .card-list table > tbody > tr > td {
// 	padding: 12px 20px;
// }
// .card-list table > tbody > tr > th {
// 	color: #095eb1;
// 	background-color: transparent;
// }
// .card-list table > tbody > tr.hm > td:first-of-type {
// 	color: #ffba00;
// }
// .card-list table > tbody > tr.zh > td:first-of-type {
// 	color: #ff6b5c;
// }
// .card-list i.cardRed,
// .card-list i.cardYellow {
// 	width: 19px;
// 	height: 26px;
// 	background-size: 19px 26px;
// 	margin-right: 10px;
// }



// /* 评分表 */
// .form table.table-score > tbody > tr > th {
// 	border: 1px solid #999;
// 	padding: 5px;
// 	font-size: 15px;
// }
// .form table.table-score > tbody > tr > td {
// 	line-height: 25px;
// 	padding: 2px;
// 	font-size: 15px;
// }
// .form.score .head .title:first-of-type {
// 	margin-bottom: 0;
// }
// .form.score .head .title:last-of-type {
// 	margin-top: 0;
// }
// .form.score .com label {
// 	width: 45%;
// }
// .form.score .com label input {
// 	border: 0;
// 	width: 320px;
// }
// .form.score .com .btn-green {
// 	margin: 0 0 5px;
// }
// .form.score .btn-green {
// 	padding: 0 6px;
// }
// .modal.score .add-reduce {
// 	display: inline-block;
// 	width: 150px;
// }
// .modal.score input.radio {
// 	width: 20px;
// 	vertical-align: initial;
// }

// /* 考核得分历史记录 */
// .form.score h3 {
// 	display: inline-block;
// 	color: #333;
// 	line-height: 40px;
// 	margin: 30px auto 45px;
// 	padding: 0 20px;
// 	border-bottom: 2px solid #edeff5;
// 	font-size: 18px;
// 	font-weight: 500;
// }
// .form .table-score-list > tbody > tr > td {
// 	border: 1px solid #edeff5;
// 	padding: 8px;
// 	font-size: 14px;
// }
// .form .table-score-list > tbody > tr > td.blue {
// 	color: #4791dc;
// 	font-weight: 700;
// }
// .form .table-score-list > tbody > tr.bt-yellow > td {
// 	border-top: 2px solid #ffc600;
// }
// .form .table-score-list > tbody > tr.bt-green > td {
// 	border-top: 2px solid #3fd69f;
// }
// .form .table-score-list > tbody > tr.bt-blue > td {
// 	border-top: 2px solid #4791dc;
// }
