$color-primary:#42a9f4;
$color-success:#84c137;
$color-warning:#ffa400;
$color-danger:#f95c36;
$color-info:#00b3cb;
$color-border: #eeeff1;


.color-primary {
  color: $color-primary!important;
}

.color-success {
  color: $color-success!important;
}

.color-warning {
  color: $color-warning!important;
}

.color-danger {
  color: $color-danger!important;
}

.color-info {
  color: $color-info!important;
}
